@using Sandbox
@using System
@using Sandbox.UI

@namespace MediaPlayer
@inherits Panel

<style>

    RequestMenu {
		width: 85%;
		height: 78%;
		left: 7.5%;
		top: 8%;
		position: absolute;
		background-color: black;
		flex-direction: column;
        display: flex;
		pointer-events: all;
		
		transform: scale(0);
		&.Open{
			transition: all 0.25s ease-in-out;
			transform: scale(1);
		}
        &.OpenDirect{
			height:2vw;
            width: 85%;
            top: 45%;
            transition: all 0.25s ease-in-out;
			transform: scale(1);
		}
		&.Close{
			transition: all 0.4s ease-in-out;
			transform: scale(0) rotate(.3turn);
		}
        header{
            justify-content:flex-end;
            align-items:center;
            height:1.6vw;
            margin:5px;
        }
        .button{
            font-family:BerlinSansFBDemi;
            font-size: 1.2vw;
            padding: 2px;
            color:black;
        }
        .button:hover{
            cursor:pointer;
        }
        .closebutt{
            height:100%;
            font-size: 1.2vw;
            background-image:linear-gradient(rgb(182, 105, 117), red);
        }
        .closebutt:hover{
            background-image:linear-gradient(pink, red);
        }
        .requestbutt{
            margin-left:5px;
            height:100%;
            font-size:1.2vw;
            margin-right:5px;
            width:6.45%;
            
            text-align:center;

            background-image:linear-gradient(rgb(0, 89, 46), rgb(68, 138, 100));
            transition: 1s;
        }
        .requestbutt:hover{
            background-image:linear-gradient(rgb(50, 195, 125), rgb(68, 138, 100));
        }
        
        
    }
    TextEntry
    {
        background-color: rgb(158, 158, 158);
        width: 94%;
        height: 100%;
        font-size: 1.3vw;
        white-space: nowrap; 
        overflow: hidden;
        color:black;
    }
</style>

<root>
    <header>
        <TextEntry Value:bind=@WebPanel.Surface.Url @ref="TextEntry"></TextEntry>
        <button class="requestbutt" @onclick=@(()=>RunURL(@TextEntry.Value))>REQUEST</button>
        <button class="closebutt" @onclick=@(()=>Close())><i>close</i></button>
    </header>
    @if (URL!="direct"){
        <WebPanel style="width: 100%; flex-grow: 1;" @ref="WebPanel"></WebPanel>
    }
</root>

@code{
    private static TextEntry TextEntry {get;set;}
    private static WebPanel WebPanel {get;set;}
    public static float DeleteTime=0;
    public int ident;
    public string URL="";
    
    public void Open()
	{
        if (URL!="direct"){
            AddClass("Open");
        }else{
            AddClass("OpenDirect");
        }
	} 
    public void RunURL(string url)
	{
        Close();
        MediaController.SetUrl(url,ident);
	}
    protected override void OnAfterTreeRender(bool firstTime)
    {
        base.OnAfterTreeRender(firstTime);

        if (firstTime){
            if (URL!="direct"){
                WebPanel.Surface.Url=URL;
            }else{
                TextEntry.Value="paste direct link here";
            }
        }

    }
    public override void Tick(){
        base.Tick();
        if (DeleteTime>0 && DeleteTime<Time.Now){
            this.Delete();
            DeleteTime=0;
        }
    }
    public void Close()
	{
		this.Style.PointerEvents=PointerEvents.None;
		this.RemoveClass("Open");
        this.AddClass("Close");
        DeleteTime=Time.Now+0.1F;
    }
    protected override int BuildHash()
    {
        return HashCode.Combine(DateTime.Now.ToString());
    }
}