@using System
@using Sandbox
@using Sandbox.UI

@namespace MediaPlayer
@inherits Panel

<style>
    .ScreeenUI
    {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        font-family:BerlinSansFBDemi;
        text-align: center;
        color:white;
        align-items: center;
        
        background-image: radial-gradient(#333 0%,#161616 100%);
        background-size: 100% 100%;
        .logo {
            margin-top: 4vh;
            margin-bottom: 4vh;
            font-size: 7vw;
    	    font-weight: bolder;
        }
        .info{
            margin-top:auto;
            margin-bottom:2%;
            font-size: 4vw;
    	    font-weight: bolder;
        }
        .info.hover{
            font-size: 8vw; 
        }
        .container {
            display: flex;
            flex-shrink:0;
            width: 90%;
            height: 35%;
            flex-direction: row;
            justify-content:center;
        }
        .service {
            background-size:contain;
            width: 100%;
            height:100%;
            margin-right: 2vh;
            background-color: #EEE;
            background-repeat: no-repeat;
            background-position: center center;
            border-radius: 0.5vh;
            color: transparent;
            opacity: 0.5;
        }
        .service:hover{
            sound-in:ui.button.over;
            opacity: 1;
        }
    }
    
</style>

<root class="ScreeenUI">
	    <div class="logo">
           <text style="color:rgb(0,215,187);">Media</text><text>Player</text>
        </div>
        <text class="info">select type of media</text>
        <div class="container">
           <button @onclick=@(()=>OpenRequest($"https://youtube.com")) class="service" style="background:url(/ui/services/youtube.png);"></button>
           <button @onclick=@(()=>OpenRequest($"https://soundcloud.com")) class="service"  style="background-image:url(/ui/services/soundcloud.png);"></button>
           <button @onclick=@(()=>OpenRequest($"https://twitch.com")) class="service"  style="background-image:url(/ui/services/twitch.png);"></button>
           <button @onclick=@(()=>OpenRequest($"direct")) class="service"  style="background-image:url(/ui/services/directlink.png);">direct link</button>
        </div>
        
        <text class="info">press use to interact</text>
</root>

@code {
    public RequestMenu Menu;
    void OpenRequest(string url){
        if (!Menu.IsValid()){
            Menu=Sandbox.Game.RootPanel.AddChild<RequestMenu>();
            Menu.URL=url;
            Menu.Open();
        }        
    }
    protected override int BuildHash()
    {
        return HashCode.Combine(DateTime.Now.ToString());
    }
}
